footer {
  background: #000;
  padding: 15px;
  font-family: Poppins;

  ul {
    display: flex;
    justify-content: space-evenly;

    a,
    p,
    h4,
    strong {
      color: #fafafa;
    }

    li:nth-child(1) {
      display: flex;
      flex-direction: column;
      gap: 24px;

      div {
        display: flex;
        align-items: center;
        border: 1px solid #fff;
        padding: 5px;

        svg {
          cursor: pointer;
        }

        input {
          width: 142px;
          height: 36px;
          color: #fff;
          background: #000;
          border: none;
          outline: none !important;
        }
      }
    }
    li:nth-child(2) {
      display: flex;
      flex-direction: column;
      gap: 16px;
      width: 175px;
    }
    li:nth-child(3) {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
    li:nth-child(4) {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
    .footer-flex {
      display: flex;
      flex-direction: column;
      gap: 15px;

      p {
        font-family: Poppins;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 18px;
      }

      &__images {
        display: flex;
        gap: 10px;

        div {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }

  .end {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    border-top: 1px solid #fff;
    opacity: 0.5;

    p,
    img {
      margin-top: 10px;
      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
    }
  }
}
