#today {
  margin-top: 140px;

  .pre-cards{
    display: flex;
    justify-content: space-between;
  }

  h1 {
    display: flex;
    gap: 10px;
    color: #db4444;
    font-size: 16px;
    font-family: Poppins;
    align-items: center;
  }

  .today-timer {
    display: flex;
    font-family: Poppins;
    align-items: center;
    gap: 87px;

    h2{
      font-size: 36px;
      font-family: Inter;
      font-weight: 600;
  }

    .timer {
      display: flex;
      gap: 20px;

      &-text {
        p {
          font-size: 32px;
          font-weight: 700;
          font-family: Inter;
          color:#000;
          display: flex;
          gap: 10px;

          span{
            color:#E07575;
          }
        }

        h6{
            font-size: 12px;
            font-family: Poppins;
            font-weight: 500;
        }
      }
    }
  }

  .two-arrow{
    display: flex;
    gap: 15px;

    div{
        background: #F5F5F5;
        padding: 15px;
        border-radius: 100%;
    }
  }
}
