main {
  margin-bottom: 140px;

  #wishlist {
    margin-top: 95px;

    .whishlist {
      display: flex;
      align-items: center;
      justify-content: space-between;

      h2 {
        font-family: Poppins;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
      }
      button {
        padding: 16px 48px;
        background: #fff;
        border: 1px solid #00000080;
        cursor: pointer;

        &:hover {
          color: #7d8184;
        }
      }
    }
  }

  #wishlist2 {

    .whishlist2-text{

        display: flex;
        align-items: center;
        justify-content: space-between;

        h1 {
            display: flex;
            align-items:center;
            gap: 16px;
            p{
                font-family: Poppins;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: 26px;
            }
        }

        button{
            padding: 16px 48px;
            background: #FFF;
            border: 1px solid #00000080;
            cursor: pointer;
    
            &:hover {
              color: #7d8184;
            }
        }
    }

  }
}
